body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0000ff, #800080);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #4b0082;
    /* Тёмно-фиолетовый цвет */
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.profile-info,
.chat-list {
    flex: 1;
    padding: 20px;
}

.profile-info {
    border-right: 2px solid #fff;
}

.profile-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-info input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.chat-list h2 {
    margin-top: 0;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.chat-list {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}