<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registration.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
    <section class="registration-section">
        <h2>Регистрация</h2>
        <form id='registration-form'> 
            <label for="username">Логин:</label>
            <input type="text" id='username' name="username">
            <label for="password">Пароль:</label>
            <input type="password" id='password' name="password">
            <label for="first_name"> Имя:</label>
            <input type="text" id='first_name' name="first_name">
            <label for="last_name">Фамилия:</label>
            <input type="text" id='last_name' name="last_name">
            <label for="email">Электронная почта:</label>
            <input type="text" id='email' name="email">
            <button type="submit" name="register" value="Register">
                Зарегистрироваться
            </button>
            <a href="login.html">Отмена</a>
            

        </form>
    </section>
    </div>
    <script src="../scripts/auth/registration.js"></script>
</body>

</html>
